body{
font:large 12px/2.0em;
margin: 0 auto;
padding:0px;
background-color:#000;
font-family:"Times New Roman", Times, serif;
}
header img{
border: 2px solid #660000;
height: 200px;
width: 1000px;
border-radius: 15px;
}
h2  {font-size:25px;
	color: #000000;
	font-weight: bold;}
h1
{ background-color:#660000;
 font-family:"Times New Roman", Times, serif;
 color:#FFFFFF;
}

.motto{
font-family:Georgia, "Times New Roman", Times, serif;
font-size: 14px;
/*border-width: 10px;*/
color:#FFFFFF;
text-align:center;
}
.innermotto{
font-size:24px;
border-top: 1px dotted Maroon;
border-bottom: 1px dotted Khaki;
padding: 5px;
background-color:#660000;
}
.innermotto span{
font-family:Harrington;
color: #00CC00;
letter-spacing: 5px;
font-size:40px;
}
.NavSidebar{
background:#660000;
text-decoration: none;
}
.NavSidebar a{
text-decoration:none;
color:Khaki;
padding: 10px;
/*text-align: center;*/
}
.NavSidebar ul {
   list-style: none;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align:center;
}

.NavSidebar li {
  display: inline;
  text-align: center;
  margin: 25px;
}
.NavSidebar a:hover{
background-color: Khaki;
color:#660000;
}
 /* jssor slider bullet navigator skin 01 css */
        /*
        .jssorb01 div           (normal)
        .jssorb01 div:hover     (normal mouseover)
        .jssorb01 .av           (active)
        .jssorb01 .av:hover     (active mouseover)
        .jssorb01 .dn           (mousedown)
        */
        .jssorb01 {
            position: absolute;
        }
        .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
            position: absolute;
            /* size of bullet elment */
            width: 12px;
            height: 12px;
            filter: alpha(opacity=70);
            opacity: .7;
            overflow: hidden;
            cursor: pointer;
            border: #000 1px solid;
        }
        .jssorb01 div { background-color: gray; }
        .jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
        .jssorb01 .av { background-color: #fff; }
        .jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
        
        /* jssor slider arrow navigator skin 02 css */
        /*
        .jssora02l                  (normal)
        .jssora02r                  (normal)
        .jssora02l:hover            (normal mouseover)
        .jssora02r:hover            (normal mouseover)
        .jssora02l.jssora02ldn      (mousedown)
        .jssora02r.jssora02rdn      (mousedown)
        */
        .jssora02l, .jssora02r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 55px;
            height: 55px;
            cursor: pointer;
            background: url('img/a02.png') no-repeat;
            overflow: hidden;
        }
        .jssora02l { background-position: -3px -33px; }
        .jssora02r { background-position: -63px -33px; }
        .jssora02l:hover { background-position: -123px -33px; }
        .jssora02r:hover { background-position: -183px -33px; }
        .jssora02l.jssora02ldn { background-position: -3px -33px; }
        .jssora02r.jssora02rdn { background-position: -63px -33px; }
/* Footerblurb */
			#footerblurb { background:#660000;color:Goldenrod; margin-top:20px; font-family:"Times New Roman", Times, serif;}
			#footerblurb-inner { margin:0 auto; width:922px; padding:15px;}
			#footerblurb .column { margin:0; text-align:justify; float:left;width:250px;padding:0 24px;}
			
			/* Footer */
			#footer { color:Khaki;}
			#footer-inner { margin:auto; text-align:center; padding:15px; width:922px;}
		
			
			/* Clear both sides to assist with div alignment  */
			.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
