/* CSS Document */
table{
margin-top: 100px;
margin-left: 150px;
margin-bottom: 50px;
color:#FFFFFF;
width: 500px;
text-align: center;
}
tr:nth-child(even){
background-color:Silver;
}
tr:nth-child(odd){
background-color: Brown;
}
th{
background-color:Silver;
color:#990000;
}
